@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

.gameboard {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid #23a023;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}
.clouds {
  width: 500px;
  animation: clouds-animation 14s infinite linear;
}
.hero {
  width: 150px;
  bottom: 0;
}
.jump {
  animation: hero-jump 500ms ease-out;
}
.pipe {
  bottom: -15px;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}
.clouds,
.hero,
.pipe {
  position: absolute;
}

.text {
  margin: 10% auto;
}
.text-box {
  gap: 10%;
  margin-top: 10%;
}
.text,
.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score {
  position: absolute;
  top: 4%;
  display: flex;
  right: 5%;
  width: 15%;
}

.user {
  position: absolute;
  top: 3%;
  left: 2%;
  font-size: 25px;
  width: 19%;
}

.record {
  position: absolute;
  top: 6%;
  left: 16%;
}
.info-border {
  padding: 1% 1% 2%;
  height: 4%;
  border: 5px solid red;
  border-radius: 25px;
}

.rules {
  margin-top: 5%;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 101%;
  }
}
@keyframes hero-jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 200px;
  }
  50% {
    bottom: 200px;
  }
  65% {
    bottom: 200px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes clouds-animation {
  from {
    right: -500px;
    top: 0;
  }
  30% {
    top: 7%;
  }
  50% {
    top: 10%;
  }
  70% {
    top: 7%;
  }
  to {
    right: 100%;
    top: 3%;
  }
}
