* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameboard {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid #23a023;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}
.clouds {
  width: 500px;
  position: absolute;
  animation: clouds-animation 14s infinite linear;
}
.hero {
  position: absolute;
  width: 150px;
  bottom: 0;
}
.jump {
  animation: hero-jump 500ms ease-out;
}
.pipe {
  position: absolute;
  bottom: -15px;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20% auto;
}
.text > div {
  margin-top: 5%;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 101%;
  }
}
@keyframes hero-jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 200px;
  }
  50% {
    bottom: 200px;
  }
  65% {
    bottom: 200px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes clouds-animation {
  from {
    right: -500px;
    top: 0;
  }
  30% {
    top: 7%;
  }
  50% {
    top: 10%;
  }
  70% {
    top: 7%;
  }
  to {
    right: 100%;
    top: 3%;
  }
}
